doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
    meta(name='description' content='CoreUI - Open Source Bootstrap Admin Template')
    meta(name='author' content='Łukasz Holeczek')
    meta(name='keyword' content='Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard')
    title CoreUI Free Bootstrap Admin Template

    link(href='/resources/admin/vendors/@coreui/icons/css/coreui-icons.min.css' rel='stylesheet')
    link(href='/resources/admin/vendors/flag-icon-css/css/flag-icon.min.css' rel='stylesheet')
    link(href='/resources/admin/vendors/font-awesome/css/font-awesome.min.css' rel='stylesheet')
    link(href='/resources/admin/vendors/simple-line-icons/css/simple-line-icons.css' rel='stylesheet')

    link(href='/resources/admin/css/style.css' rel='stylesheet')
    link(href='/resources/admin/vendors/pace-progress/css/pace.min.css' rel='stylesheet')
    
  body.app.flex-row.align-items-center
    .container
      .row.justify-content-center
        .col-md-8
          .card-group
            .card.p-4
              form(method='POST', enctype='multipart/form-data').card-body
                h1 Login
                p.text-muted Sign In to your account
                .input-group.mb-3
                  .input-group-prepend
                    span.input-group-text
                      i.icon-user
                  input.form-control(type='text' placeholder='Username')
                .input-group.mb-4
                  .input-group-prepend
                    span.input-group-text
                      i.icon-lock
                  input.form-control(type='password' placeholder='Password')
                .row
                  .col-6
                    button.btn.btn-primary.px-4(type='submit') Login

    script(src='/resources/admin/vendors/jquery/js/jquery.min.js')
    script(src='/resources/admin/vendors/popper.js/js/popper.min.js')
    script(src='/resources/admin/vendors/bootstrap/js/bootstrap.min.js')
    script(src='/resources/admin/vendors/pace-progress/js/pace.min.js')
    script(src='/resources/admin/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js')
    script(src='/resources/admin/vendors/@coreui/coreui/js/coreui.min.js')