extends /admin/commons/base.pug

block xhead
  link(rel='stylesheet' href='/resources/admin/css/dataTables.bootstrap4.min.css')

block content
  .row
    .col-md-12
      .card
        .card-header
          h4 Presentasi #{percentage} %
        .card-body
          table#data_table.table
            thead
              tr
                th Original
                th Modified
                th Position
            tbody
              each item in compareResult
                tr
                  td
                    span.mr-4 #{item.a.nama}
                    strong #{item.a.v}
                  td
                    span.mr-4 #{item.b.nama}
                    strong #{item.b.v}
                  td= item.isSame
block xscripts
  script(src='/resources/admin/js/jquery.dataTables.min.js')
  script(src='/resources/admin/js/dataTables.bootstrap4.min.js')
  script.
    var table = $('#data_table').DataTable({
        responsive: true,
        select: true,
        'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': ['nosort']
        }]
    });