doctype html
html.no-js(lang="en") 
  head
    meta(charset="utf-8")  
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    include /admin/commons/head.pug
    block xhead

  body.app.header-fixed.sidebar-fixed.aside-menu-fixed.sidebar-lg-show
    include header.pug
    .app-body
      include /admin/commons/sidebar.pug

      .main
        .container-fluid
          .animated.fadeIn
            .row
              .col-md-12
                .card.my-4
                  .card-body
                    h3= title
                    h6= subtitle
            block content

    include /admin/commons/scripts.pug
    block xscripts