meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
meta(name='description' content='CoreUI - Open Source Bootstrap Admin Template')
meta(name='author' content='Łukasz Holeczek')
meta(name='keyword' content='Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard')
title RRI - FSAW

//  Icons
link(href='/resources/admin/vendors/@coreui/icons/css/coreui-icons.min.css' rel='stylesheet')
link(href='/resources/admin/vendors/flag-icon-css/css/flag-icon.min.css' rel='stylesheet')
link(href='/resources/admin/vendors/font-awesome/css/font-awesome.min.css' rel='stylesheet')
link(href='/resources/admin/vendors/simple-line-icons/css/simple-line-icons.css' rel='stylesheet')

//  Main styles for this application
link(href='/resources/admin/css/style.css' rel='stylesheet')
link(href='/resources/admin/vendors/pace-progress/css/pace.min.css' rel='stylesheet')