header.app-header.navbar
  button.navbar-toggler.sidebar-toggler.d-lg-none.mr-auto(type='button' data-toggle='sidebar-show')
    span.navbar-toggler-icon
  a.navbar-brand(href='#')
    img.navbar-brand-full(src='/resources/admin/img/brand/logo.svg' width='89' height='25' alt='CoreUI Logo')
    img.navbar-brand-minimized(src='/resources/admin/img/brand/sygnet.svg' width='30' height='30' alt='CoreUI Logo')
  button.navbar-toggler.sidebar-toggler.d-md-down-none(type='button' data-toggle='sidebar-lg-show')
    span.navbar-toggler-icon
  
  ul.nav.navbar-nav.ml-auto
    li.nav-item.dropdown
      a.nav-link(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false')
        img.img-avatar(src='img/avatars/6.jpg' alt='admin@bootstrapmaster.com')
      .dropdown-menu.dropdown-menu-right
        .dropdown-header.text-center
          strong Account
        a.dropdown-item(href='/auth/logout')
          i.fa.fa-lock
          |  Logout