mixin app_select(name, label, options, value=None)
  .form-group
      label= label
      select.form-control(name=name, required)
        each option in options
          option(value=option.value, selected= (option.value == value))= option.text