script(src='/resources/admin/vendors/jquery/js/jquery.min.js')
script(src='/resources/admin/vendors/popper.js/js/popper.min.js')
script(src='/resources/admin/vendors/bootstrap/js/bootstrap.min.js')
script(src='/resources/admin/vendors/pace-progress/js/pace.min.js')
script(src='/resources/admin/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js')
script(src='/resources/admin/vendors/@coreui/coreui/js/coreui.min.js')
