.sidebar
  nav.sidebar-nav
    ul.nav
      li.nav-title Navigation
      li.nav-item
        a.nav-link(href='/admin/data')
          i.nav-icon.icon-list
          |  Data
      li.nav-item
        a.nav-link(href='/admin/kriteria')
          i.nav-icon.icon-layers
          |  Kriteria
      li.nav-item
        a.nav-link(href='/admin/rank')
          i.nav-icon.icon-badge
          |  Rank
      li.nav-item
        a.nav-link(href='/admin/report')
          i.nav-icon.icon-briefcase
          |  Report
      li.nav-item
        a.nav-link(href='/admin/testing')
          i.nav-icon.icon-speedometer
          |  Testing
      li.nav-item
        a.nav-link(href='/admin/users')
          i.nav-icon.icon-people
          |  User
      li.divider
      li.nav-item.mt-auto
        a.nav-link.nav-link-success(href='https://coreui.io' target='_top')
          i.nav-icon.icon-cloud-download
          |  Download CoreUI
      li.nav-item
        a.nav-link.nav-link-danger(href='https://coreui.io/pro/' target='_top')
          i.nav-icon.icon-layers
          |  Try CoreUI

          strong PRO
  button.sidebar-minimizer.brand-minimizer(type='button')