// [if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]
// [if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]
// [if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]
// [if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]
// [if gt IE 9]><!
// <![endif]
//  Meta tags & title /
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
title RRI - FSAW
meta(name='description' content='This template is an easy to use app landing page, responsive and pretty easy to customize including some great easing effects, modal window, a sticky header with share buttons & others stuff !')
meta(name='keywords' content='Free, template, easy to use, customise, one page, template, simple, minimal, landing page, app page, supview')
meta(name='author' content='Supview - François Martin')
link(rel='shortcut icon' href='/resources/landing/favicon.png' type='image/x-icon')
meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1')
link(rel='stylesheet' href='/resources/landing/css/gumby.css')
link(rel='stylesheet' href='/resources/landing/css/style.css')
link(rel='stylesheet' href='/resources/landing/css/animate.css')
script(src='/resources/landing/js/modernizr-2.6.2.min.js')

#preloader
  #loading-animation  
//  NAVIGATION ############################################### 
.cbp-af-header
  nav
    #logo
      a(href='#')
        img(alt='Logo' src='/resources/landing/img/logo.png')
    //  Links 
    ul#nav
      li
        a(href='http://www.iamsupview.be') The Author
      li
        a(href='http://www.baribal.be/showpage/dl/') Get it

section.page1
  //  Huge Title centered 
  .huge-title.centered
    .logo-phone.centered
      img(alt='YOURLOGO' src='/resources/landing/img/logo-phone.png')
    //  This Logo is only displayed on Tablet/iPhone !
    h1 Sistem perangkingan pegawai
    .space
    a.button-white.goto(href='/auth') Discover more
  //  IMG DISCOVER MORE 
  .go-down.twelve.columns
    a.goto(href='#container')
      img(src='/resources/landing/img/down.png' alt='MORE')

#container.container
  section.footer
    .row
      //  Article centered on the Page 
      .nine.columns.centered
        //  Nav Footer 
        ul
          li
            a(href='http://www.iamsupview.be') About Supview
          li
            a(href='http://www.baribal.be/showpage/dl/') Get it
          li
            a(href='http://dribbble.com/Supview') Dribbble
          li
            a(href='http://www.facebook.com/Supview' rel='nofollow') Facebook
          li
            a(href='http://twitter.com/Supview' rel='nofollow') Twitter
          li
            a(href='http://www.behance.net/Supview' rel='nofollow') Behance
        //  Title 
        p.copyright
          | Showpage is a free app landing page made by 
          a(href='http://www.iamsupview.be') Supview
          |  and is under 
          a(href='http://creativecommons.org/licenses/by/4.0/') CC License
          br
          | © Copyright 2014 Supview. All rights reserved.
        //  Logo 
        img.logo(src='/resources/landing/img/logo.png' alt='Logo')
  //  END FOOTER SECTION ############################################### 

script(src='/resources/landing/js/jquery-1.9.1.min.js')
script(src='/resources/landing/js/main.js' type='text/javascript')
script(src='/resources/landing/js/classie.js' type='text/javascript')
script(src='/resources/landing/js/waypoints.min.js' type='text/javascript')
script(src='/resources/landing/js/jquery.scrollto.js' type='text/javascript')
script(src='/resources/landing/js/mediaCheck.js' type='text/javascript')