extends /admin/commons/base.pug
include /admin/commons/mixins.pug

block content
  .row
    .col-md-6
      .card
        .card-body
          form(method='POST', enctype='multipart/form-data')
            .form-group
              label Nama
              input.form-control(name='nama', required)
            .form-group
              label NIP
              input.form-control(name='nip', required)
            .form-group
              label NRP
              input.form-control(name='nrp', required)
            each model in form_model
              +app_select(model.name, model.label, model.options)
            button(type="submit", class="btn btn-primary mr-2") Submit