extends /admin/commons/base.pug

block xhead
  link(rel='stylesheet' href='/resources/admin/css/dataTables.bootstrap4.min.css')

block content
  .row
    .col-md-4
      a.btn.btn-primary.btn-block.mb-2(href="/admin/data/create") Tambah
  .row
    .col-md-12
      .card
        .card-body
          table#data_table.table
            thead
              tr
                th.nosort Nama
                each model in form_model
                  th= model.label
                th.nosort  
            tbody
              each item in items
                tr
                  td
                    div #{item.nama}
                    small #{item.nip} / #{item.nrp}
                  td= formatted.c1(item.c1)
                  td= formatted.c2(item.c2)
                  td= formatted.c3(item.c3)
                  td= formatted.c4(item.c4)
                  td= formatted.c5(item.c5)
                  td= formatted.c6(item.c6)
                  td= formatted.c7(item.c7)
                  td
                    a.btn.btn-primary.btn-sm.mr-2(href='/admin/data/' + item._id)
                      i.fa.fa-pencil
                    a.btn.btn-danger.btn-sm(href='/admin/data/delete/' + item._id)
                      i.fa.fa-trash
block xscripts
  script(src='/resources/admin/js/jquery.dataTables.min.js')
  script(src='/resources/admin/js/dataTables.bootstrap4.min.js')
  script.
    var table = $('#data_table').DataTable({
        responsive: true,
        select: true,
        'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': ['nosort']
        }]
    });