header.masthead.text-center.text-white
  .masthead-content
    .container
      h1.masthead-heading.mb-0 FSAW
      h2.masthead-subheading.mb-0 Pemilihan Unggas Terbaik
      a.btn.btn-primary.btn-xl.rounded-pill.mt-5(href='/admin/data') Login
  .bg-circle-1.bg-circle
  .bg-circle-2.bg-circle
  .bg-circle-3.bg-circle
  .bg-circle-4.bg-circle