nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
  .container
    a.navbar-brand(href='#') FSAW - Unggas Jaya
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarResponsive
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='#') Github
        li.nav-item
          a.nav-link(href='#') Hacker Rank